extends start.pug

block content
    div
        a#signup.hiddenanchor
        a#signin.hiddenanchor

        .login_wrapper
            .animate.form.login_form
                section.login_content
                    form(method='POST')
                        h1='Login'
                        div
                            input.form_control(type='email' name='email' placeholder='Email' required)
                        div
                            input.form_control(type='password' name='password' placeholder='Password' required)
                        div
                            button.btn.btn-default.submit
                                ='Login'
                        .clearfix
                        .separator
                            .change-link
                                a.to_register(href='#signup')='Create Account'