extends start.pug

block content
    div
        a#signup.hiddenanchor
        a#signin.hiddenanchor

        .login-wrapper
            .animate.form.login-form
                section.login_content
                    form()
                        div
                            input.form_control(placeholder='Username')
                
            .animate.form.registration_form
                section.login_content
                    form(method='POST')
                        h1="Signup"
                        div
                            input.form_control(type='text' placeholder='First name' required)
                        div
                            input.form_control(type='text' placeholder='Last name' required)
                        div
                            input.form_control(type='email' placeholder='Email' required)
                        div
                            input.form_control(type='password' placeholder='Password' required)    
                        div
                            a.btn.btn-default submit
                                ="Submit"
                        .clearfix